body{
    font-family: 'Poppins', sans-serif;
}
.header-section{
    background-color:#264653;
}
.login-btn {
    background-color:#E76F51;
    padding:10px 24px;
    color: #fff;
    border:none;
    border-radius: 5px;
}
.span-text{
    color: #E76F51;
}
.banner-image{
    width:450px;
    height:350px;
}
.feature-image{
    width:280px;
    height:240px;
}
.client-image{
    width:149px;
    height: 149px;
}
.filled{
    color:#E77C40;
}
.frequent-image{
    width: 425px;
    height:398px;
}
.progress-image{
    width: 450px;
    height:350px;
}